.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.main {
  flex: 1;
  padding: 2rem;
}

.footer {
  background-color: #efefef;
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
}

.notification {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &-icons {
    margin-bottom: 24px;
    position: relative;
    .ban-icon {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: center;
      transform: scale(1.8);
    }
  }
}

@media (max-width: 1440px) {
  .notification {
    display: flex;
  }

  .layout {
    display: none;
  }
}
