.map {
  .coord-sphere {
    fill: #f0f8ff;
  }

  .marks {
    // fill: #b8b8b7;
  }

  .interiors {
    fill: none;
    stroke: #777777;
  }

  .graticule {
    fill: none;
    stroke: #cbdcf3;
  }
}
