.choropleth-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 24px;
  }
}

.scatter-plot {
  .mark {
    fill: orange;
    fill-opacity: 0.5;
    stroke: white;
    stroke-width: 0.5;

    &.no-data {
      fill: #000000;
      stroke: #a09f9f;
    }
  }
}

.slider {
  .axis {
    stroke: #ccc;
    stroke-width: 4;
  }

  .tick {
    line {
      stroke: #888;
    }

    text {
      font-size: 10px;
      text-anchor: middle;
    }
  }

  .label {
    text-anchor: middle;
    font-size: 10px;
  }

  .handle {
    fill: #007bff;
    cursor: pointer;
  }
}
