$primary-color: #37383a;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: $primary-color;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

    &-large {
      width: 100%;
      margin: 0 auto;
      padding: 2rem;
    }
  }

  .page-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  .app {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}
